section.calendar  
  .container
    .calendar__item
      .calendar__month(id="prev-month") Май
      .calendar__year(id="prev-year") 2017
    .calendar__item
      .calendar__month(id="next-month") Июнь
      .calendar__year(id="next-year") 2017
  .calendar__slider
    a(href="/").calendar__day.calendar__day--past 22
    a(href="/").calendar__day.calendar__day--past 23
    a(href="/").calendar__day.calendar__day--past 24
    a(href="/").calendar__day.calendar__day--past 25
    a(href="/").calendar__day.calendar__day--past 26
    a(href="/").calendar__day.calendar__day--past 27
    a(href="/").calendar__day.calendar__day--past 28
    a(href="/").calendar__day.calendar__day--past 29
    a(href="/").calendar__day.calendar__day--past 30
    a().calendar__day.calendar__day--current 31
      span сегодня
    a(href="/").calendar__day 1
    a(href="/").calendar__day 2
    a(href="/").calendar__day 3
    a(href="/").calendar__day 4
    a(href="/").calendar__day 5
    a(href="/").calendar__day 6
    a(href="/").calendar__day 7
    a(href="/").calendar__day 8
    a(href="/").calendar__day 9
    a(href="/").calendar__day 10
    a(href="/").calendar__day 11
    a(href="/").calendar__day 12
