section.events
  .container
    .events__row
      .events__col.events__col--left
        .events__slider
          .events__card
            h2.events__title Городской праздник здорового образа жизни
            span.events__date 25 мая
            span.events__time.events__time--big.events__time--grey 14:00&mdash;21:30
            .events__counter 
              span 172
              |  дня до юбилея
            a(href="/").btn.events__card-link Город-сад
            a(href="/").btn.events__card-link Город-спорт
        .events__controls
          a.events__control(href="/")
          a.events__control(href="/")
        
      .events__col.events__col--right
        ul.events__list
          li.events__item
            article.events__item-content
              a(href="/").events__descr Проводы зимы или <q>Масленица</q>
              a(href="/").events__location Площадь общественных меропориятий
            span.events__time.flr 14:00
          li.events__item
            article.events__item-content
              a(href="/").events__descr Собираем урожай
              a(href="/").events__location ДК <q>Аллюминщик</q>
            span.events__time.flr 14:00&mdash;14:50
          li.events__item
            article.events__item-content
              a(href="/").events__descr Новый джаз у старой крепости
              a(href="/").events__location Джаз-клуб <q>Геликон</q>
            span.events__time.flr 15:00&mdash;15:30
          li.events__item
            article.events__item-content
              a(href="/").events__descr Проводы зимы или «Масленица»
              .events__flag Проект
              a(href="/").events__location Площадь общественных меропориятий
            span.events__time.flr 20:30&mdash;21:30
        a(href="/").btn.btn--red.events__more Еще 2 события